extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Кредит под залог недвижимости: квартира под залог, деньги под залог недвижимости (займ)';
	- var pageDescription = 'Деньги есть! - портал о финансах, рассчитанный на самую широкую аудиторию. Просто о финансах.';
	- var pageKeywords = 'Деньги';

block content
